@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Roboto&display=swap');

header{
  height: 20dvh;
  background: url(./images/ibb.svg)no-repeat center;
}
main{
 position: absolute;

}

#inicio {
  background: url(./images/Inicio.jpg)no-repeat center/cover;
  height: 80vh;
  width: 100vw;
  position: absolute;

  #input-text{
    height: 30px;
    border-radius: 15px;
    border:#2661AC 1px solid;
    text-align: center;
    background-color: white;
    width: 150px;
    
  }
  #code{
    font-family: "Luckiest Guy", cursive;
    font-size: 45px;
    color: #C94A65;
  }
  .input-submit{
    color: #2661AC;
    background-color: #cfe1f8;
    border: 1px solid #2661AC;
    height: 30px;
    width: 70px;
    border-radius: 15px;
    margin: 2px;
  }
  .delete{
    color: #ffe4e6;
    background-color: #E24D57;
    border: 1px solid red;
    height: 30px;
    width: 70px;
    border-radius: 15px;
    margin: 2px;
  }
  
}

header div span {
  text-align: center;
}

.forms-container {

  width: 100%;
  /* Ancho total de los formularios */
  transition: transform 3s ease;
  /* Animación de desplazamiento */

  height: 100%;

}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  max-width: 200px;
  margin: auto;
}

.form.hide {
  transform: translateX(-105%);
  /* Ocultar el formulario desplazándolo hacia la izquierda */
}

.form.active {
  transform: translateX(0);
  /* Mostrar el formulario en la posición inicial */
}